*{
  cursor: pointer;
}



.calculator {
  width: fit-content;
  background-color: black;
  padding-inline: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.input_screen {
  background-color: rgba(128, 128, 128, 0.495);
  width: fit-content;
  border-radius: 10px;
  height: 10vh;
  color: #fff;
  font-size: 30px;
  padding-inline: 10px;
  border: none;
  outline: none;
}

.input_buttons {
  display: grid;
  margin-top: 3rem;
  grid-template-rows: 40px 40px 40px;
  grid-template-columns: 60px 60px 60px 60px 60px;
  column-gap: 10px;
  row-gap: 20px;
  padding-inline: 20px;
}

.input_buttons button {
  background-color: aliceblue;
  color: black;
  font-size: 20px;
  border: none;
  outline: none;
}


.input_buttons button:hover{
  background-color: rgb(253, 245, 161);
}